@import url(https://db.onlinewebfonts.com/c/0a6ee448d1bd65c56f6cf256a7c6f20a?family=Bahnschrift);

#LoginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 40px;
  }

.Infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 90%;
    
  }

    .Infos h1 {
        font-family: 'Bahnschrift';
        font-size: 36px;
        color: #F90;
        text-align: center;

    }
  
  .Login {
    font-family: 'Bahnschrift';
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

    .Login:active {
        background-color: #0056b3;
    }
  
  button:hover {
    background-color: #0056b3;
  }
  