@import url(https://db.onlinewebfonts.com/c/0a6ee448d1bd65c56f6cf256a7c6f20a?family=Bahnschrift);

.FilteringOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Bahnschrift', sans-serif; /* Adicionado fallback font */
  scroll-behavior: smooth;
  padding-top: 40px;
  background-color: #F3F3F3;
  
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.categories{
  width: 90%;
  border: #ffd700 2px solid;
  border-radius: 20px;
  margin-bottom: 20px;
  /* margin-left: 5%;
  margin-right: 5%; */
  padding: 0 10px;
  gap: 10px;
}

.categories h3{
  font-size: 26px;
  margin: 10px 0;
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.options h2{
  font-size: 36px;
  margin-bottom: 20px;

}

.option {
  display: flex;
  flex: 1 1 calc(33.333% - 40px); /* Ajusta a base para que todos tenham a mesma proporção menos o gap */
  justify-content: center; /* Centraliza o conteúdo dentro da opção */
  align-items: center; /* Alinha verticalmente o conteúdo dentro da opção */
  min-width: 150px;
  max-width: 250px;
  text-align: center;
  padding: 10px; /* Adicionado padding para melhorar a visualização */
  box-sizing: border-box; /* Garante que padding não afete as dimensões definidas */
}

.checkbox-input {
  display: flex;
  width: 100%; /* Faz o input ocupar toda a largura do seu container */
  justify-content: center; /* Centraliza o input e o span horizontalmente */
  align-items: center; /* Centraliza o input e o span verticalmente */
}

.radio-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.radio-input span {
  cursor: pointer;
  padding: 10px 20px;
  font-weight: 400;
  background-color: #ffeec1;
  border-radius: 30px; /* Raio de borda ajustado para menos curvatura */
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.radio-input input[type="radio"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.radio-input span:hover {
  background-color: #ffd700;
}

.radio-input input[type="radio"]:checked + span {
  background-color: #ffd700;
}


label {
  text-align: center;
  width: 100%; /* Faz o label ocupar toda a largura do seu container */
}

.ShowSelections{
  font-size: 24px;
}

#showoptions{
  background-color: #FFC529;
  color: #ffffff;
  font-size: 36px;
}

#showoptions:hover{
  background-color: #FF9900;
  box-shadow: 0 0 10px #FF9900;
}

@media (min-width: 768px){ /* Adicionado media query para telas maiores */
  .options{
    max-width: 800px;
    }

    .categories{
      padding: 20px;
    }
}