@import url(https://db.onlinewebfonts.com/c/0a6ee448d1bd65c56f6cf256a7c6f20a?family=Bahnschrift);

* {
  margin: 0;
  padding: 0;}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 40px;
  font-family: "Bahnschrift";
  background-color: #F3F3F3;
}

.Home h2 {
  color: #000;
  text-align: center;
  font-family: Bahnschrift;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 10%; 
}

.Home img{
  width: 100%;
  max-width: 200px;
  padding: 0;
  margin: 0;
}

.botoes{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 40px;
}

.Surprise {
  width: 100%;
  color: #fff;
  font-family: Bahnschrift;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  border-radius: 50px;
  background: #ffc529;
  padding: 10px 70px;
  cursor: pointer;
}

.Surprise:hover,
.Surprise:active {
  background: #f90;
}

.Personalize {
  color: #ffc529;
  padding: 10px 20px;
  font-family: Bahnschrift;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 50px;
  border: 1px solid #ffc529;
  background: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  text-decoration: none;
  width: 250px;
}

.Personalize p {
  margin: 0;
  padding: 0;
}

.Personalize:hover,
.Personalize:active {
  background: #ffeec1;
  /* color: #fff; */
}

@media screen and (min-width: 768px){
  .Surprise{
    width: 400px;
    font-size: 34px;
  }
  .Personalize{
    width: 350px;
    font-size: 30px;
  }


}