@import url(https://db.onlinewebfonts.com/c/0a6ee448d1bd65c56f6cf256a7c6f20a?family=Bahnschrift);

.surprisePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: #ffc529;
  font-family: "Bahnschrift";
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.content {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.button {
  cursor: pointer;
  padding: 10px 20px;
  font-family: Bahnschrift;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  border-radius: 50px;
}

#go {
  color: #ff9900;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: #ff9900 1px solid;
  font-size: 40px;
  padding: 10px 60px;
}

#go:hover {
  background-color: #ff9900;
  color: #ffffff;
}

#outro {
  color: #ff9900;
  background: #ffeec1;
}

#outro:hover {
  background-color: #ff9900;
  color: #ffffff;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: #ffffff;
  width: 250px;
  max-width: 300px;

  
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

#nome {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.info{
    margin: 0;
    padding: 0;
}

.noResultsMessage {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  gap: 10px;
  text-align: center;
}

.noResultsMessage a {
  color: #000000;
  margin-left: 5px;
}

.noResultsMessage a:hover {
  font-size: 18px;
  transition: 0.3s;
  color: #ff9900;
}